.all {
    display: flex; /* מחלק את האלמנטים בצורה גמישה */
    justify-content: space-between; /* אם יש מקום פנוי, מחלקים אותו בצורה שווה */
    gap: 16px; /* מרווח בין שני החלקים */
    margin-top: 8%;   
  }
p-inputNumber input {
    width: 40px !important;
}
  .content {
    flex: 1; /* כל חלק יתפוס מקום שווה */
    padding: 16px; /* ריווח פנימי */
    box-sizing: border-box; /* לכלול padding בגודל הכללי */
    background-color: #fff; /* רקע לכל חלק */
    border-radius: 8px; /* רדיוס לפינות */
    // box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* צלליות */
  }
.flex{
align-items: center;
}
p-inputNumber input {
  width: 40px !important;
}
/* גישה ל-input של כל p-inputNumber בעמוד */
// .p-inputnumber .p-inputnumber-input {
//   width: 40px;
// }
/* גישה ל-input הפנימי של p-inputNumber */
// .custom-input-number .p-inputnumber-input {
//   width: 40px;
// }
// .p-inputnumber .p-inputnumber-input {
//   width: 40px !important;
// }
::ng-deep .p-inputnumber .p-inputnumber-input {
  width: 40px !important;
  border: 1px solid #000000;
}
::ng-deep .p-confirmdialog button {
  background-color: #20252c !important;
  border: 1px solid #20252c !important;
}
::ng-deep .p-inputNumber .p-button {
  // width: 40px !important;
  // p-button-contrast
  background-color: #20252c !important;
  border: 1px solid #20252c !important;
}
.buttons{
  display: flex;
  gap: 3%;
}
.margin{
  margin-top: 8%;   
 }
 .flex{
  display: flex;
  gap: 7%;
  flex-direction: column;
  align-items: stretch;
 }