<p-toast></p-toast>
<div class="margin">
<div class="container p-4 bg-gray-100 rounded-lg shadow-lg">
  <div class="card p-4">
    <div class="flex flex-column md:flex-row gap-4">
      <form [formGroup]="frmRegister">
        <div class="flex flex-wrap gap-3 mb-4">
          <label class="w-6rem font-semibold text-gray-700">Username</label>
          <input formControlName="email" pInputText id="username" type="text" class="w-full p-inputtext p-component" />
          <small class="p-error" *ngIf="frmRegister.controls['email']?.errors?.['required'] && frmRegister.controls['email'].dirty">Username is required</small>
          <small class="p-error" *ngIf="frmRegister.controls['email']?.errors?.['email'] && frmRegister.controls['email'].dirty && frmRegister.controls['email'].touched">Invalid username</small>
        </div>

        <div class="flex flex-wrap gap-3 mb-4">
          <label class="w-6rem font-semibold text-gray-700">Password</label>
          <input formControlName="password" pInputText id="password" type="password" class="w-full p-inputtext p-component" />
          <small class="p-error" *ngIf="frmRegister.controls['password']?.errors?.['required'] && frmRegister.controls['password'].dirty">Password is required</small>
        </div>

        <div class="flex flex-wrap gap-3 mb-4">
          <label class="w-6rem font-semibold text-gray-700">Full Name</label>
          <input formControlName="fullname" pInputText id="fullname" type="text" class="w-full p-inputtext p-component" />
          <small class="p-error" *ngIf="frmRegister.controls['fullname']?.errors?.['required'] && frmRegister.controls['fullname'].dirty">Full Name is required</small>
        </div>

        <div class="flex flex-wrap gap-3 mb-4">
          <label class="w-6rem font-semibold text-gray-700">Address</label>
          <input formControlName="adress" pInputText id="adress" type="text" class="w-full p-inputtext p-component" />
          <small class="p-error" *ngIf="frmRegister.controls['adress']?.errors?.['required'] && frmRegister.controls['adress'].dirty">Address is required</small>
        </div>

        <div class="flex flex-wrap gap-3 mb-4">
          <label class="w-6rem font-semibold text-gray-700">Phone</label>
          <input formControlName="phone" pInputText id="phone" type="text" class="w-full p-inputtext p-component" />
          <small class="p-error" *ngIf="frmRegister.controls['phone']?.errors?.['required'] && frmRegister.controls['phone'].dirty">Phone number is required</small>
        </div>

        <div class="flex flex-wrap gap-3 mb-4">
          <label class="w-6rem font-semibold text-gray-700">Credit Card</label>
          <p-inputMask mask="9999 9999 9999 9999" formControlName="creditCard" slotChar=" " placeholder="Enter your credit card" class="w-full p-inputtext p-component"></p-inputMask>
          <small class="p-error" *ngIf="frmRegister.controls['creditCard']?.errors?.['required'] && frmRegister.controls['creditCard'].dirty">Credit Card is required</small>
        </div>

        <p-button 
        severity="contrast"
        label="Pay" 
        icon="pi pi-credit-card" 
        [disabled]="!frmRegister.valid" 
        styleClass="w-full hover:bg-blue-700 text-white" 
        (onClick)="payment()"></p-button>
        
      </form>
    </div>
  </div>
</div>

</div>