<ng-template #formTemplate pTemplate="content">
    <form [formGroup]="addDonorForm">
        <div>
            <label for="fullName">name</label>
            <input type="text" pInputText id="fullName" formControlName="fullName">
            <div class="p-error" *ngIf="addDonorForm.controls['fullName'].errors?.['required'] && addDonorForm.controls['fullName'].dirty">FullName is required</div>
        </div>
        <div>
            <label for="adress">adress</label>
            <input type="text" pInputText id="adress" formControlName="adress">
            <div class="p-error" *ngIf="addDonorForm.controls['adress'].errors?.['required'] && addDonorForm.controls['adress'].dirty">Adress is required</div>
        </div>
        <div>
            <label for="phone">phone</label>
            <input type="text" pInputText id="phone" formControlName="phone">
            <div class="p-error" *ngIf="addDonorForm.controls['phone'].errors?.['required'] && addDonorForm.controls['phone'].dirty">Phone is required</div>
        </div>
        <div>
            <label for="email">email</label>
            <input type="text" pInputText id="email" formControlName="email" >
            <div class="p-error" *ngIf="addDonorForm.controls['email'].errors?.['required'] && addDonorForm.controls['email'].dirty">Email is required</div>
            <div class="p-error" *ngIf="addDonorForm.controls['email'].errors?.['email'] && addDonorForm.controls['email'].dirty">Email not valid</div>
    
        </div>
        <!-- <p-button [disabled]="addDonorForm.invalid" (click)="addDonor()">save</p-button> -->
    </form>
</ng-template>

<ng-template #formTemplate2 pTemplate="footer">
    <div class="flex justify-content-end align-items-center w-full gap-2">
        <p-button label="Cancel" icon="pi pi-times" [text]="true" (onClick)="hideDialog()" />
        <p-button label="Save" icon="pi pi-check" [text]="true" [disabled]="!addDonorForm.valid" (onClick)="saveDonor()" />
    </div>
</ng-template>

<ng-container *ngTemplateOutlet="formTemplate"></ng-container>
<ng-container *ngTemplateOutlet="formTemplate2"></ng-container>
