<!-- <app-table-gifts-demo></app-table-gifts-demo> -->
<!-- <app-manage-donor></app-manage-donor> -->
<!-- <router-outlet /> -->
<!-- <ul class="nav">
    <li><a routerLink="" routerLinkActive="active">home</a></li>
    <li><a routerLink="gifts" routerLinkActive="active">gifts</a></li>
    <li><a routerLink="donors" routerLinkActive="active">donors</a></li>
    <li><a routerLink="buyGifts" routerLinkActive="active">buy-gifts</a></li>
</ul> -->
<app-nav></app-nav>
<!-- <div style="border: 1px solid gray;margin: auto;width: 90%;height: 90vh;"> -->
    <router-outlet />
<!-- </div> -->
