<p-toast></p-toast>
<div class="margin">
<div class="card">
    <p-dataView #dv [value]="gifts" [layout]="layout" >
        <ng-template pTemplate="header">
                <div class="flex justify-content-end">
                    <p-dataViewLayoutOptions [layout]="layout" />

                </div>
                <!-- <div class="flex justify-content-start">
                    <p-button severity="success" label="Payment" icon="pi pi-credit-card" class="mr-2" (onClick)="goToRegister()"/>
                </div> -->
        </ng-template>
            <ng-template let-gift pTemplate="grid" let-gifts>
                <div class="grid grid-nogutter">
                    <div class="col-12 sm:col-4 md:col-4 xl:col-4 p-2" *ngFor="let gift of gifts">
                        <div class="p-4 border-1 surface-border surface-card border-round flex flex-column">
                            <div class="surface-50 flex justify-content-center border-round p-3">
                                <div class="relative mx-auto">
                                    <img class="border-round w-full" [src]="'../../assets'+ '/' + gift.image" [alt]="gift.name" style="max-width: 300px;" />
                                    <!-- <p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product)"></p-tag> -->
                                    <!-- <p-image 
                                    [src]="'assets/' + gift.image" 
                                    alt="gift.name" 
                                    width="250" 
                                    [preview]="true"
                                    /> -->
                                </div>
                            </div>
                            <div class="pt-4">
                                <div class="flex flex-row justify-content-between align-items-start gap-2">
                                    <div>
                                        <!-- <span class="font-medium text-secondary text-sm">{{ gift.category }}</span> -->
                                        <div class="text-lg font-medium text-900 mt-1">{{ gift.name }}</div>
                                    </div>
                                    <div class="surface-100 p-1" style="border-radius: 30px">
                                        <div class="surface-0 flex align-items-center gap-2 justify-content-center py-1 px-2" style="border-radius: 30px; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04), 0px 1px 2px 0px rgba(0, 0, 0, 0.06)">
                                            <!-- <span class="text-900 font-medium text-sm">{{ gift.rating }}</span> -->
                                            <i class="pi pi-star-fill text-yellow-500"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex flex-column gap-4 mt-4">
                                    <span class="text-2xl font-semibold">{{ '₪' + gift.price }}</span>
                                    <div class="flex gap-2">
                                        <p-button 
                                        icon="pi pi-shopping-cart" 
                                        class="flex-auto md:flex-initial white-space-nowrap" 
                                        label="Add" 
                                        (onClick)="addToCart(gift)"
                                        [disabled]="!visible"
                                         />   
                                         <!-- severity="contrast" -->

                                         <!-- [disabled]=""  [disabled]="product.inventoryStatus === 'OUTOFSTOCK'" -->
                                        <!-- <p-inputOtp value="1" [(ngModel)]="gift.quantity" [length]="1"/> -->
                                        <p-inputNumber 
                                        [(ngModel)]="gift.quantity" 
                                        mode="decimal" 
                                        [showButtons]="true" 
                                        inputId="minmax-buttons" 
                                        [min]="1" 
                                        [max]="100"
                                        [disabled]="!visible"
                                        /> 
                                        <!-- severity="contrast" -->

                                    <!-- <p-inputNumber
                                    [(ngModel)]="gift.quantity" 
                                    [showButtons]="true"
                                    buttonLayout="horizontal"
                                    inputId="horizontal"
                                    spinnerMode="horizontal"
                                    [step]="1"
                                    decrementButtonClass="p-button-danger"
                                    incrementButtonClass="p-button-success"
                                    incrementButtonIcon="pi pi-plus"
                                    decrementButtonIcon="pi pi-minus"
                                    mode="decimal"
                                    [min]="0" 
                                    [max]="99"
                                    /> -->

                                    <!-- <p-button icon="pi pi-user" [rounded]="true" [text]="true" severity="info " /> -->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="list" let-gifts>
                <div class="grid grid-nogutter">
                    <div class="col-12" *ngFor="let item of gifts; let first = first" class="col-12">
                        <div class="flex flex-column sm:flex-row sm:align-items-center p-4 gap-3" [ngClass]="{ 'border-top-1 surface-border': !first }">
                            <!-- <div class="md:w-10rem relative">
                                <p-image 
                                    class="block xl:block mx-auto border-round w-full"
                                    [src]="'assets/' + item.image" 
                                    [previewImageSrc]="'assets/' + item.image" 
                                    [alt]="item.name" 
                                    [ngStyle]="{ 'max-width': '300px', 'height': 'auto', 'width': 'auto' }" 
                                    [preview]="true">
                                </p-image>
                            </div> -->
                            
                            
                            
                            <div class="md:w-10rem relative">
                                <img class="block xl:block mx-auto border-round w-full" [src]="'../../assets'+ '/' + item.image" [alt]="item.name" />
                                <!-- <p-image 
                                [src]="'assets/' + item.image" 
                                alt="item.name" 
                                width="250" 
                                [preview]="true"
                                /> -->
                                <!-- <p-tag [value]="item.inventoryStatus" [severity]="getSeverity(item)" class="absolute" [style.left.px]="4" [style.top.px]="4" /> -->
                            </div>
                            <div class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4">
                                <div class="flex flex-row md:flex-column justify-content-between align-items-start gap-2">
                                    <div>
                                        <!-- <span class="font-medium text-secondary text-sm">{{ item.category }}</span> -->
                                        <div class="text-lg font-medium text-900 mt-2">{{ item.name }}</div>
                                    </div>
                                    <div class="surface-100 p-1" style="border-radius: 30px">
                                        <!-- <div class="surface-0 flex align-items-center gap-2 justify-content-center py-1 px-2" style="border-radius: 30px; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04), 0px 1px 2px 0px rgba(0, 0, 0, 0.06)">
                                            <span class="text-900 font-medium text-sm">{{ item.rating }}</span>
                                            <i class="pi pi-star-fill text-yellow-500"></i>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="flex flex-column md:align-items-end gap-5">
                                    <span class="text-xl font-semibold text-900">{{ '₪' + item.price }}</span>
                                    <div class="flex flex-row-reverse md:flex-row gap-2">
                                        <!-- <p-button icon="pi pi-heart" [outlined]="true" /> -->
                                        <p-button 
                                        icon="pi pi-shopping-cart" 
                                        class="flex-auto md:flex-initial white-space-nowrap" 
                                        label="Add" 
                                        [disabled]="!visible"
                                        (onClick)="addToCart(item)"
                                         />
                                         <!-- severity="contrast" -->



                                        <!-- [disabled]="item.inventoryStatus === 'OUTOFSTOCK'" -->
                                        <!-- <p-inputNumber 
                                        [(ngModel)]="item.quantity" 
                                        mode="decimal" 
                                        [showButtons]="true" 
                                        inputId="minmax-buttons" 
                                        [min]="0" 
                                        [max]="100"
                                        />  -->


                                    <!-- <p-inputNumber
                                    [(ngModel)]="item.quantity" 
                                    [showButtons]="true"
                                    buttonLayout="horizontal"
                                    inputId="horizontal"
                                    spinnerMode="horizontal"
                                    [step]="1"
                                    decrementButtonClass="p-button-danger"
                                    incrementButtonClass="p-button-success"
                                    incrementButtonIcon="pi pi-plus"
                                    decrementButtonIcon="pi pi-minus"
                                    mode="decimal"
                                    /> -->
                                      <p-inputNumber 
                                        [(ngModel)]="item.quantity" 
                                        mode="decimal" 
                                        [showButtons]="true" 
                                        inputId="minmax-buttons" 
                                        [min]="1" 
                                        [max]="100"
                                        [disabled]="!visible"
                                        /> 
                                        <!-- severity="contrast" -->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
    </p-dataView>
</div>
</div>
<p-confirmDialog [style]="{ width: '450px' }" />
