/* סגנון עבור התמונה במצב רגיל */
// p-image img {
//     max-width: 300px !important;
//     height: auto !important;
//     width: auto !important;
//   }
  
//   p-image.p-image-preview img {
//     max-width: none !important;
//     width: 100vw !important;
//     height: 100vh !important;
//     object-fit: contain; 
//   }
// .single-otp .p-inputtext:not(:first-child) {
//     display: none; 
// }
// .custom-image {
//   display: block;
//   max-width: 250px; /* הרוחב המוגדר */
//   margin: auto; /* למרכז */
//   border-radius: 50%; /* לדוגמה, מעגל */
//   width: 100%; /* מתאים לגודל המיכל */
//   height: auto;

// }
p-inputNumber input {
    width: 40px !important;
}
// p-inputNumber button {
//   // width: 40px !important;
//   // p-button-contrast
//   background-color: black;
//   border: 1px solid #000000;
// }
// p-dataview button {
//   background-color: black;
//   border: 1px solid #ffffff;
// }
// p-inputNumber span input p-inputtext:enabled:focus{
//   outline: 0 none;
//   outline-offset: 0;
//   box-shadow: 0 0 0 0 ;
//   border-color: none;
// }
.p-inputtext:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0 ;
  // border-color: #ffffff;
}
// p-inputNumber button {
//   background-color: white !important;
//   color: black;
//   // border: 1px solid #c8cbce;
// }
.disabled-card {
  background-color: #f4f4f4 !important; /* צבע אפור בהיר */
  opacity: 0.6; /* שקיפות כדי להיראות לא פעיל */
  pointer-events: none; /* לא לאפשר אינטרקציה עם האלמנטים */
}

/* סטיילים לכפתורים לא פעילים */
.disabled-button {
  background-color: #dcdcdc !important; /* צבע אפור בהיר לכפתור */
  color: #a1a1a1 !important; /* צבע טקסט אפור */
}

/* סטיילים לשדות קלט לא פעילים */
p-inputNumber[disabled] {
  background-color: #f0f0f0 !important; /* צבע רקע אפור בהיר */
  color: #a1a1a1 !important; /* צבע טקסט אפור */
  border-color: #dcdcdc !important; /* צבע גבול אפור */
}
.margin{
 margin-top: 8%;   
}