<p-toast />


<ng-template #formTemplate pTemplate="content">
    <form [formGroup]="frmAddGift">
        <img 
        [src]="'assets'+'/' + frmAddGift.controls['image'].value" 
        [alt]="frmAddGift.controls['image'].value" 
        class="block m-auto pb-3 gift-image"
        *ngIf="frmAddGift.controls['image'].value"
         />
        <div class="field">
            <label for="name">Name</label>
            <input type="text" pInputText id="name" formControlName="name" required autofocus />
            <!-- [(ngModel)]="gift.name" -->
            <!-- *ngIf="submitted && !gift.name" -->
            <!-- <small class="p-error" *ngIf="!gift.name && ">
                Name is required.
            </small> -->
            <small class="p-error" *ngIf="frmAddGift.controls['name'].errors?.['required'] && frmAddGift.controls['name'].dirty">Name is required</small>
        </div>
        <!-- <div class="field">
            <label for="donor">Donor</label>
            <input type="text" pInputText id="donor" formControlName="donor" required />
            [(ngModel)]="gift.name"
            *ngIf="submitted && !gift.name"
            <small class="p-error" *ngIf="!gift.donor">
                Donor is required.
            </small>
        </div> -->
        <div class="field">
            <label for="donor">Donor</label>
            <p-dropdown inputId="donor" 
            formControlName="donor" 
            [options]="donors2"
            placeholder="Select A Donor"
            [showClear]="true" 
            required>
                <!-- [(ngModel)]="gift.donor" -->
                <!-- <ng-template let-option pTemplate="item">
                    <p-tag [value]="option" />
                </ng-template> -->
            </p-dropdown>
            <small class="p-error" *ngIf="frmAddGift.controls['donor'].errors?.['required'] && frmAddGift.controls['donor'].dirty">Donor is required</small>

            <!-- optionValue="value"
            optionLabal="donor"
            placeholder="Select A Donor"
            [showClear]="true" -->
        </div>
        <div class="field">
            <label for="price">Price</label>
            <p-inputNumber 
            id="price" 
            formControlName="price" 
            class="w-full" 
            mode="currency" 
            currency="ILS" 
            locale="en-US"
            />
            <!-- <input id="price" pInputText formControlName="price" />
            [(ngModel)]="gift.price"
            <small class="p-error" *ngIf="submitted && !gift.price">
                Price is required.
            </small> -->
            <small class="p-error" *ngIf="frmAddGift.controls['price'].errors?.['required'] && frmAddGift.controls['price'].dirty">Price is required</small>

        </div>
        <!-- <div class="formgrid grid">
            <div class="field col">
                <label for="price">Price</label>
                <p-inputNumber 
                    id="price" 
                    formControlName="price"
                    mode="currency" 
                    currency="ILS" 
                    locale="en-US"/>
            </div>
            <div class="field col"> -->
                <!-- <label for="quantity">Quantity</label>
                <p-inputNumber 
                    id="quantity" 
                    /> -->
                    <!-- <label for="image">Image</label>
                    <input type="text" pInputText id="image" formControlName="image" />
                 -->
            <!-- </div> 
        </div> -->
        <div class="field">
            <label for="image">Image</label>
            <input type="text" pInputText id="image" formControlName="image"/> 
            <!-- <p-button icon="pi pi-upload" /> -->
            <!-- <div class="image-upload-container">
                <div class="image-upload-row">
                    <label for="image" class="image-label">Image</label>
                    <p-button label="Import Image" icon="pi pi-image"
                        class="p-button-raised p-button-info custom-button" [ngStyle]="{ 'margin-top': '10px' }"
                        (click)="fileInput.click()">
                    </p-button>
                </div>

                <input id="image" type="file" (change)="onImageSelected($event)" #fileInput
                    style="display:none;" />

                <small class="text-red-500" *ngIf="submitted && !gift.image">Image is required.</small>
            </div> -->

            <!--             
            <div class="card flex justify-content-center">
                <p-fileUpload 
                    name="demo[]" 
                    url="https://www.primefaces.org/cdn/api/upload.php" 
                    (onUpload)="onUpload($event)" 
                    [multiple]="true" 
                    accept="image/*" 
                    maxFileSize="1000000000">
                        <ng-template pTemplate="content">
                            <ul *ngIf="uploadedFiles.length">
                                <li *ngFor="let file of uploadedFiles">
                                    {{ file.name }} - {{ file.size }} bytes
                                </li>
                            </ul>
                        </ng-template>
                </p-fileUpload>
            </div> -->

            
            <!-- <p-fileUpload mode="basic" 
            accept="image/*" 
            [maxFileSize]="100000000" 
            label="Import" chooseLabel="Import"
            class="mr-2 inline-block">
            </p-fileUpload> -->
            <!-- [customUpload]="true"  -->
            <!-- (uploadHandler)="onUpload($event)"  -->
           
            <!-- [(ngModel)]="gift.image" -->
            <!-- *ngIf="submitted && !gift.image" -->
            <!-- <small class="p-error" *ngIf="!gift.image">
                Image is required.
            </small> -->
        </div>
    </form>
</ng-template>

<ng-template #formTemplate2 pTemplate="footer">
    <div class="flex justify-content-end align-items-center w-full gap-2">
        <p-button label="Cancel" icon="pi pi-times" [text]="true" (onClick)="hideDialog()" />
        <p-button label="Save" icon="pi pi-check" [text]="true" [disabled]="!frmAddGift.valid" (onClick)="saveGift()" />
    </div>
</ng-template>
<!-- <button label="Cancel" (click)="hideDialog()">Cancel</button> -->
<!-- <button label="Save" [disabled]="!frmAddGift.valid" (click)="saveGift()">Save</button> -->

<ng-container *ngTemplateOutlet="formTemplate"></ng-container>
<ng-container *ngTemplateOutlet="formTemplate2"></ng-container>